html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body, html, .row-offcanvas {
  height:100%;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color: #f5f5f5;
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#main {
  height: 100%;
  overflow: auto;
}

a,
a:hover {
  text-decoration: none;
}

.add-period-label {
  width: 100%;
  text-align: center;
}

.calendar-container {
  display: flex;

  .calendar {
    margin: auto;
  }
}

.btn-add-period {
  margin-top: 10px;
}
