@import '../styles/variables';

.wrapper {
    padding-left: 0;
}

.wrapper.toggled {
    padding-left: $sidebar-width;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: $sidebar-width;
    }

    .wrapper.toggled {
        padding-left: 0;
    }
}