@import '../../styles/variables';

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: 0;
    height: 100%;
    margin-left: (-$sidebar-width);
    overflow-y: auto;
    background: $sidebar-primary-bg-color;
}

.wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
}

#sidebar-wrapper .sidebar-heading {
    width: $sidebar-width;
    font-size: .9em;
    padding: 20px 10px 0px 10px;
    color: #dc1f7d;

    a {
        position: relative;
        left: 50px;
        top: -3px;
    }
}

@media(min-width:768px) {
    #sidebar-wrapper {
        width: $sidebar-width;
    }

    .wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
}