@import 'styles/variables';

body {
    background: $white;
    font-family: sans-serif;
}

.top-bar {
    background-color: #66afe9;
    color: $white;
    padding-left: 20px;
    padding-bottom: 5px;
}