@import './styles/variables';

@import './components/Main/Main';
@import './components/Main/PageContent/PageContent';
@import './components/Main/Sidebar/Sidebar';
@import './components/Main/Sidebar/SidebarYear/SidebarYear';
@import './components/Main/Sidebar/SidebarYear/SidebarPeriod/SidebarPeriod';

body {
    background: white;
    font-family: sans-serif;
}

.top-bar {
    background-color: $header-background-color;
    color: white;
    padding-left: 20px;
    padding-bottom: 5px;
}